<head>
    <title>PureChart Documentation</title>
</head>

<div class='docs-split' data-controller="articles--page">
    <div class='sidebar'>
        <div>
            <div class='logo-container'>
                <%= image_tag "PureChartWhite.png" %>
            </div>

            <div class='links padding-top'>
                <%= button_tag "Getting Started", id: "getting-started", class: "nav-button", data: { action: "click->articles--page#navigate" } %>
                <%= button_tag "Types of Charts", id: "types-of-charts", class: "nav-button", data: { action: "click->articles--page#navigate" } %>
            </div>
        </div>
    </div>

    <div class='content'>
        <%= turbo_frame_tag "article" do %>
            <p>Loading...</p>
        <% end %>
    </div>
</div>

<script>

</script>