/*
 *= require_tree .
 *= require_self
 */

/* GENERAL */
html,
body,
#app {
	margin: 0;
	padding: 0;
	height: 100%;

	position: relative;
	overflow-x: hidden;
}

h1 {
	font-family: 'Unbounded', sans-serif;
	font-size: 2rem;
	line-height: 2rem;

	margin: 0px 0px 16px 0px
}

a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid black;
}

/* DOCUMENTATION */
.docs-split {
	display: flex;
	height: 100%;
}

.docs-split .sidebar {
	width: 300px;
	height: 100%;
	flex-shrink: 0;

	border-right: 2px solid black;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.docs-split .content {
	flex-grow: 1;
	overflow-y: auto;
}

.article-container {
	padding: var(--space);
}

.nested-page-button {
	font-size: 0.9rem !important; 
	border-radius: 0px !important;
	border-left: 4px solid #dfe6e9 !important;
	margin-left: 20px !important;
	--space: 24px;
}

/* MARKDOWN */
h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

h3 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

h4 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

p,
ul li {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

code {
	background-color: rgba(var(--color-light-gray), 0.5);
	border: 1px solid rgba(var(--color-light-gray), 1);
	border-radius: 2px;

	font-family: 'DM Mono', monospace;
	font-size: 0.85rem;
}

pre {
	background-color: rgba(var(--color-light-gray), 0.5);
	border: 1px solid rgba(var(--color-light-gray), 1);
	border-radius: 2px;

	font-size: 0.85rem;
}

pre code {
	background-color: rgba(var(--color-light-gray), 0);
	border: none;
}

blockquote {
	padding-left: 16px;
    color: #9197a1;
    margin: 0;
    border-left: 3px solid #9ca3af;
}

.code-block {
	position: relative;
}

.highlight {
	padding-right: 40px;

	background-color: rgba(var(--color-light-gray), 0.5);
	border: 1px solid rgba(var(--color-light-gray), 1);
	border-radius: 2px;

	overflow-x: auto;
}

.highlight pre {
	background-color: rgba(0, 0, 0, 0);
	border: none;

	padding: 0px calc(0.5 * var(--space)) 0px calc(0.5 * var(--space));
	width: fit-content;
}

.clipboard-button {
	position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: 1px solid #cacfd2;
    border-radius: 4px;
    width: 24px;
    height: 24px;

	padding: 0;
	line-height: 24px;

	cursor: pointer;
	transition: 0.25s all ease;
}

.clipboard-button:hover {
	background-color: #cacfd2;
}

/* SIDEBAR */
.logo-container {
	width: 100%;

	background-color: black;
	padding: var(--space);
}

.sidebar-logo {
	width: 100%;
}

.menu {
	width: 16px;
	height: 16px;

	display: block;
	margin: 0 auto;
}

.links {
	display: flex;
	align-items: start;
	flex-direction: column;

	width: 200px;
	margin-left:30px;
}

.sidebar .bottom, .mobile-sidebar .bottom {
	width: 100%;
	padding: calc(0.5 * var(--space));

	display: flex;
	justify-content: center;
}

a.social {
	width: 32px;
	height: 32px;

	display: block;

	padding: 8px;

	border-radius: 2px;
}

a.social img {
	width: 100%;
	height: 100%;
}

.sidebar button, .mobile-sidebar button {
	display: block;
	text-align: left;

	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	font-weight: 400;

	background-color: rgba(0, 0, 0, 0);
	color: rgb(0, 0, 0);
	border: none;
	outline: none;

	padding: calc(0.25 * var(--space));
	border-radius: 4px;

	transition: 0.25s all ease;
	cursor: pointer;

	margin: 0px;
	margin-bottom: 4px;
}

.sidebar button:hover, .mobile-sidebar button:hover {
	background-color: rgba(var(--color-light-gray), 0.5);
	border-radius: 4px !important;
}

.sidebar button.active, .mobile-sidebar button.active {
	font-weight: 700;

	background-color: rgb(var(--color-light-gray));

	padding: calc(0.5 * var(--space));
	border-radius: 4px !important;
}

.sidebar button.first, .mobile-sidebar button.first {
	width: 100%;
}

.sidebar button.secondary, .mobile-sidebar button.secondary {
	width: 85%;
}

span.bold {
	font-weight: 700;
}

span.light-gray {
	color: rgb(var(--color-light-gray));
}

.inline {
	display: inline-block !important;
}

/* PADDING */
.padding-left {
	padding-left: var(--space);
}

.padding-top {
	padding-top: var(--space);
}

.padding-right {
	padding-right: var(--space);
}

h1.centered {
	text-align: center;
}

.full-width {
	width: 100%;
}

/* MARKDOWN */
.article-container img {
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.margin-right {
	margin-right: var(--space);
}

.margin-right-half {
	margin-right: calc(0.5 * var(--space));
}

.margin-bottom {
	margin-bottom: var(--space) !important;
}

.margin-bottom-half {
	margin-bottom: calc(0.5 * var(--space)) !important;
}

/* MOBILE ONLY */
.mobile-logo-container {
	background-color: black;
	padding: var(--space);
	display: none;
	height: 100px;
}

.mobile-logo {
	width: 150px;
	max-width: 100%;

	display: block;
}

.menu-button {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
	outline: rgba(0, 0, 0, 0);

	margin: 0px !important;
	padding: 0px !important;

	cursor: pointer;
}

.menu-button:hover {
	background-color: rgba(0, 0, 0, 0) !important;
}

.logo-container .menu-button {
	padding: 4px;
}

/* VARIABLES */
:root {
	--space: 32px;
	--color-light-gray: 223, 230, 233;
}

.mobile-sidebar {
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;

	background-color: white;
	visibility: hidden;

	transform: translateX(100%);
	opacity: 0;
	transition: 0.25s all ease;
	z-index: 2;
}

.mobile-sidebar.visible {
	transform: translateX(0px);
	opacity: 1;
}

@media only screen and (max-width: 750px) {
	.sidebar {
		display: none !important;
	}

	.mobile-sidebar {
		visibility: visible;
	}

	.content {
		padding: 0px !important;
	}

	.mobile-logo-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.mobile-logo-container button,
	.logo-container button {
		display: block !important;
	}
}

* {
	box-sizing: border-box;
}